<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Registration Form</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :defaults => { :wrapper_html => {:class => 'form-group'}, :input_html => { :class => 'form-control' } }) do |f| %>
      <% if f.object.errors.present? %>
        <%#= f.object.errors.full_messages %>
      <% end %>

      <div class="form-inputs">
        <%= f.input :email, label: false, autofocus: true, input_html: { value: ("example@example.com"), style: "display: none;" } %>
        <%= f.input :username, autofocus: true %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%#= f.input :blockchain_password %>
        <%#= f.input :pin, as: :password %>
        <%#= f.input :pin, as: :password, label: "Pin Confirmation" %>
        <%#= f.input :role, collection: ["Buyer", "Vendor"] %>
        <%= f.input :role, label: false, input_html: { value: "Vendor", readonly: true, style: "display: none;" }%>
        <%= f.input :location, as: :select, collection: @countries %>
        <%#= f.input :location, as: :country%>
        <%= f.input :currency, collection: [["Bitcoin Cash", "BTC"], ["United States Dollar", "USD"], ["British Pound Sterling", "GBP"], ["Euro", "EUR"]], include_blank: false%>
        <%= show_simple_captcha %>
      </div>

      <br/>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-lg' %>
      </div>
    <% end %>

    <hr>
    
    <%= render "devise/shared/links" %>
  </div>
</div>

